{{#each tweets}}

    <div class="tweet-container">
        <a href="{{this.link}}">
          <blockquote class="tweet twitter-tweet">
              <img src="{{this.user.profile_image_url}}" />
              <p>{{this.text}}</p>
          </blockquote>
        </a>
    </div>

{{/each}}
